<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">@BuildIt Weather</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <ul class="navbar-nav">

      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/#/weather-board">Check weather</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>

    </ul>

  </div>
</nav>

<div class="jumbotron">
  <h1>{{city}}</h1>

  <div class="card card-block" *ngFor="let idx of objectKeys(weatherDetails)">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="hour-details">
          {{weatherDetails[idx][0].dt_txt}}
        </div>
        <div class="caption">
          <span *ngFor="let hourForecastDetails of weatherDetails[idx]">
            {{hourForecastDetails.dt_txt}}
          </span>
        </div>
      </div>
    </div>

  </div>
</div>
